* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inicio {
    width: 100%;
    height: 100vh;
    background-color: #333;
    position: relative;
}

.inicio h2 {
    position: relative;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    line-height: 33vh;
    font-size: 10vh;
    z-index: 10;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.banner .blocks {
    position: relative;
    display: block;
    width: 5vw;
    height: 5vh;
    /* background: #fff; */
    animation: primera .75s ease-in-out forwards;
}

.banner .blocks:nth-child(even) {
    animation: primera 1s ease-in-out forwards;
}

.banner .blocks:nth-child(7n+3) {
    animation: primera 1.75s ease-in-out forwards;
}

.banner .blocks:nth-child(7n+7) {
    animation: primera 1.25s ease-in-out forwards;
}

.extra {
    width: 100%;
    height: 100vh;
    background: rgb(28, 236, 132);
}

@keyframes primera {
    0% {
        opacity: 0;
        transform: scale(0) translateY(1000px);
    }
    50% {
        opacity: 1;
        background: url(../LuisJuradoQ/images/valencia-hemisferic.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
        background: url(../LuisJuradoQ/images/valencia-hemisferic.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}